.ipynb_checkpoints
/.ipynb_checkpoints
.idea
/.idea
_pycache_
__pycache__
/__pycache__
/_pycache_
weather_data.db
.Rhistory
/.Rhistory
.vscode
/.vscode
/outputs/*
!/outputs/census
.snakemake
/.snakemake/*
raw_data/*
/inputs/EIA930/*
!/inputs/EIA930/*.xlsx
*.db
*.h5
*.zip
FIPS_NOAA/