.ipynb_checkpoints
/.ipynb_checkpoints
.idea
/.idea
_pycache_
__pycache__
/__pycache__
/_pycache_
.Rhistory
/.Rhistory
.vscode
/.vscode
.snakemake

output/*
!/output/*.py
settings/*
!settings/*.py
!settings/data_config.toml
input/reference_access_2030_moderate_115hh_170rd_supply-curve%20(1).csv
